:root
{
    /* #3DCFD3 */
    --primary: #DC143D;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}

/* section all start */
/* card */
.section-heading
{
    color: var(--secondary);
    text-align: center;
    /* margin-bottom: 0rem; */
    padding-top: 50px;
}

.section-heading span
{
    color: var(--primary);
}

.section-heading +p
{
    color: var(--ternary);
    font-family: 'lato',sans-serif;
    margin-bottom: 6rem;
    text-align: center;
}
/* section all end */





body
{
    background: #eee5e9;
}

.grid
{
    display: flex;
    justify-content: center;
    align-items: center;;
}

.grid > article
{
    background: #eee5e9;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
}

.grid > article:hover
{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img
{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.text
{
    padding: 0 20px 20px;
}

.text h3
{
    text-transform: uppercase;
}

.text button
{
    background: blueviolet;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

/* responsive start */
@media (max-width: 768px)
{
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px)
{
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .grid > article{
        text-align: center;
    }
}
/* responsive end */